---
layout: archive
sidebar:
  nav: "docs"
permalink: /home/
title: "Home"
---

{{ content }}

Welcome
-------

Welcome on my homepage!, I am Rob van der Goot, and am currently working as an assistant professor at the IT University of Copenhagen

Research interests
------------------

My main research interest is robustness in natural language processing. This includes the processing of non-standard language varieties, low-resource languages and any setting were only little training data is available. My expertise is mostly on syntactic tasks.

Office hours
------------

14:00-15:00 in 3A08 (ITU)

News
----

*   24-10-2022: Best paper award for project I supervised at WNUT 2022: [Increasing Robustness for Cross-domain Dialogue Act Classification on Social Media Data.](https://aclanthology.org/2022.wnut-1.20.pdf)
*   22-10-2021: Invited talk at MilaNLP
*   12-10-2021: Outstanding reviewer @ [ACL2021](https://2021.aclweb.org/blog/reviewer-list/)
*   23-04-2021: Received outstanding paper award for [MaChAmp](https://machamp-nlp.github.io/) @EACL2021
*   01-02-2021: I will be assistant professor at ITU from 01-09-2021!
*   10-01-2021: The [shared task on Multi-lingual lexical normalization](http://noisy-text.github.io/2021/multi-lexnorm.html) has started
*   12-01-2021: There is now a [code switched version of MoNoise](https://arxiv.org/abs/2006.01175), for normalizing two languages simultaneously.
*   30-09-2020: Proud to have supervised Anders Giovanni Møller, with a shared first place on the WNUT 2021 shared task on identifying informative COVID-19 tweets! [News article](https://en.itu.dk/about-itu/press/news-from-itu/2020/noisy-text-uk).
*   01-09-2020: Started hosting research intern Anouck Braggaar, who is going to work on low-resource dependency parsing
*   24-04-2020: Included in [The Copula and the Bit](https://tinyletter.com/thecopulaandthebit/letters/the-copula-and-the-bit-35-list-of-lisz-of-lsits)
*   23-04-2020: Interview on Omrop Fryslan about how Frisians abroad survive COVID-19.
*   05-01-2020: First Danish models, and improved Dutch model available for; thanks to respectively Amanda Jørgensen and Youri Schuur. More information on the Dutch normalization available in Youri's [thesis](doc/normalization_dutch.pdf)
*   13-12-2019: Italian models are now available for [MoNoise](../monoise/); including better handling of capitalization, if you update, please download the new models.
*   11-12-2019: Hosting visitor Ahmet Üstün in context of the Cost Action [Multi3Generation](https://www.cost.eu/actions/CA18231/)
*   02-09-2019: Started as a postdoc at ITU!
*   23-06-2019: My recent work with Malvina Nissim and Rik van Noord was discussed on [Linear Digressions](http://lineardigressions.com/episodes/2019/6/23/revisiting-biased-word-embeddings)
*   23-05-2019: Happy to share that I am hired as a Postdoc at the ITU, under supervision of Barbara Plank!
*   15-04-2019: I ''Won'' the most reviews at [NAACL 2019](https://naacl2019.org/blog/kudos-reviewers/)
*   04-04-2019: PhD Defence
*   03-04-2019: Workshop [ROBustness in Parsing](robustness/)
*   30-03-2019: Interviewed by De Taalstaat (Radio 1), listen [here](http://robvander.github.io/incl/taalstaat.mp3) (Dutch)

Roles
-----

Co-supervisor of the following amazing PhD students (reverse chronological order, as suggested by Elisa):

*   [Elisa Bassignana](https://elisabassignana.github.io/)
*   [Mike Zhang](https://jjzha.github.io/)
*   [Max Müller-Eberstein](https://personads.me/vitae/me.html)

I am also:

*   Lead of [NLP-North](https://nlpnorth.github.io/)
*   Member of the HPC committee at ITU
*   Member of the HPC committee at the AI Pioneer Center

Contact
-------

robv@itu.dk


