---
layout: archive
sidebar:
  nav: "docs"
permalink: /home/
title: "Home"
---

{{ content }}

<h2>Welcome</h2>
<p>Welcome on my homepage!, I am Rob van der Goot, and am currently working as an associate professor at the IT University of Copenhagen</p>

<h2>Research interests</h2>
<p>My main research interest is robustness in natural language processing. This includes the processing of non-standard language varieties, low-resource languages and any setting were only little training data is available. My expertise is mostly on syntactic tasks.</p>

<h2>Meeting</h2>
<p>You can book a meeting on the following page: <a href="https://outlook.office.com/bookwithme/user/c29b0be833b140a9b101184fdae5f483@itu.dk?anonymous&ep=plink">Calendar</a></p>


<h2>Member of:</h2>
<ul>
    <li><a href="https://nlpnorth.github.io/">NLPnorth</a></li>
    <li><a href="https://mainlp.github.io/">MaiNLP</a></li>
    <li><a href="https://purrlab.github.io/">PURRlab</a></li>
</ul>

<h2>Roles</h2>
<p>Current supervision:</p>
<ul>
    <li>Supervisor of PhD Arzu Burcu Güven</li>
    <li>Co-supervisor of <a href="https://elenasenger.netlify.app/">Elena Senger</a></li>
    <li>Co-supervisor of <a href="https://www.linkedin.com/in/ngruenefeld/">Nils Grünefeld</a></li>
    <li>Co-supervisor of <a href="https://tsourget.fr/">Théo Sourget</a></li>
    <li>Co-supervisor of <a href="https://purrlab.github.io/people/classen/">Niclas Claßen</a></li>
    <li>Mentor of postdoc <a href="https://elisabassignana.github.io/">Elisa Bassignana</a></li>
</ul>

<p>Past supervision:</p>
<ul>
    <li>Supervisor of Postdoc <a href="https://jjzha.github.io/">Mike Zhang</a></li>  
    <li>Co-supervisor of PhD <a href="https://elisabassignana.github.io/">Elisa Bassignana</a></li>
    <li>Co-supervisor of PhD <a href="https://jjzha.github.io/">Mike Zhang</a></li>
    <li>Co-supervisor of PhD <a href="https://personads.me/vitae/me.html">Max Müller-Eberstein</a></li>

</ul>

<p>I am also:<p>
<ul>
    <li>Member of the HPC committee at ITU</li>
    <li>Member of the HPC committee at the AI Pioneer Center</li>
    <li>Member of DeIC Science Forum</li>
    <li>Member of RDM (Research Data Management) reference group at ITU </li>
    <li>Denmark representative for UniDive</li>
</ul>


<h2>Office hours</h2>
<p>Thursdays 13-14 (except week 7) </p>

<h2>Contact</h2>
<p>robv@itu.dk</p>


